@media screen and (min-width: 640px) {
    
    header h1 {
        font-size: 2.5rem;
        margin: 2rem;
        transition: margin 0.5s ease-out;
        transition: font-size 0.5s ease-in;
    }

    #menu {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, .3);
    }

    nav {
        grid-template-rows: 1fr;
    }

    #spotlights img, #album img {
        width: 400px;
    }

    #spotlights {
        min-height: 870px;
    }
}

@media screen and (min-width: 850px) {
    
    footer {
        grid-template-columns: repeat(3, 1fr);        
        gap: 0;
    }

    footer p {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1100px) {
    #spotlights {
        grid-column: 2/3;
        min-width: 650px;
        min-height: 1460px;
    }

    #spotlights img, #album img {
        width: 600px;
        margin: 2rem 0rem 2rem 2rem;
    }    
}