:root {
    --primary-color: #24AB17;
    --accent1-color: #6CCFF6;    
    --accent2-color: #F92A82;
    --background-color: #FFFACC;
    --font-color: #00113C;

    --heading-font: 'Playwrite GB S', sans-serif;
    --paragraph-font: 'Playwrite DE Grund', sans-serif;
}

body {
    background-color: var(--background-color);
    min-width: 350px;
}

header {
    display: grid;
    background-color: var(--background-color);
    font-family: var(--heading-font);
    grid-template-columns: auto 60px;
    transition: padding 0.5s ease-in-out;
    padding-bottom: 0px;
}

h1 {
    position: absolute;
    z-index: 100;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--font-color);
    background-color: var(--background-color);
    border: 5px groove var(--primary-color);
    border-radius: 2px 20px 20px 20px;
    transition: margin 0.5s ease-out;
    transition: font-size 0.5s ease-in;
}

header picture {
    grid-row: 1/2;
    grid-column: 1/3;    
}

header img {
    width: 100%;
    height: 100%;
}

#menu {
    background: none;
    border: none;
    font-size: 2.5rem;
    color: var(--accent1-color);
    cursor: pointer;    
    text-align: right;    
    padding: .5rem 3vw;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

nav {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

ul.menuLinks li a {      
    display: block;
    text-decoration: none;
    padding: .5rem 3vw;
    font-size: 2rem;
    color: var(--font-color);
}

nav ul.menuLinks li.active a {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.menuLinks {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\2613";
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    font-family: var(--paragraph-font);
    display: grid;
    align-items: center;
    justify-items: center;
    border-top: 8px double var(--accent2-color);
    gap: 2rem;
    padding-top: 1rem;
    color: var(--font-color);
    line-height: 2rem;
    margin-bottom: 1rem;
}

footer p {
    font-size: 1.8rem;
    margin: 0;
}

.socials a {
    text-decoration: none;
    padding: .5rem;
}

main {
    font-family: var(--paragraph-font);
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1/2;
}

main p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
    min-height: 40px;
}

main h2 {
    font-size: 2.5rem;
    border-bottom: 5px solid var(--accent1-color);
}

#information {
    grid-column: 1/2;
}

div {
    grid-column: 2/3;
}