:root {
    --primary-color: #ffc848;
    --font-color: #011502;
    --background-color: #F7F3E3;
    --accent1-color: #C32F27;
    --accent1-color-light: rgba(195, 47, 39, .2);
    --accent2-color: #485696;
    --accent2-color-light: rgba(72, 86, 150, .2);

    --heading-font: 'Cinzel', serif;
    --paragraph-font: 'Gowun Batang', serif;
}

body {
    background-color: var(--background-color);;
}

h1, h2, header span {
    font-family: var(--heading-font);
}

header, footer {
    display: grid;
    background-color: var(--background-color);
    min-width: 285px;
}

h2 {
    margin-left: 2rem;
    font-size: 2rem;
}

header {
    grid-template-columns: 50px auto 50px;
    grid-template-rows: auto auto;
    transition: padding 0.5s ease-in-out;
}

main {
    min-width: 285px;
    position: relative;
}

header picture, header button {
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

h1 {
    grid-row: 1/2;
    margin: 0px;
    padding: 10px 0px 0px 10px;
}

header span {
    grid-row: 2/3;
    font-size: .8rem;
    padding: 0px 0px 10px 10px;
    transition: font-size 0.5s ease-out; 
}

#menu {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
    font-weight: bolder;
    text-align: right;
    width: 100%;
    padding: .5rem 3vw;
}

nav {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    font-weight: 600;
}

ul.menuLinks li a {      
    display: block;
    text-decoration: none;
    padding: .5rem 3vw;
    font-size: 1.5rem;
    color: var(--font-color);
}

li.active a {
    background-color: rgba(0,0,0,0.1);
}

ul.menuLinks {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\2613";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.filters {
    padding-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
}

.filters span.active {
    color: var(--accent1-color);
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: .5rem;
    padding: .5rem;
    margin: 1rem 1rem;
}

.spotlights {
    gap: .5rem;
    padding: .5rem;
    margin: 1rem 1rem; 
    display: grid;
    min-width: 285px;    
}

#cards section, .spotlights section {
    display: flex;    
    background-color: var(--primary-color);
    width: auto;   
    padding-bottom: 1rem;
    border: 2px solid var(--accent2-color);
    border-radius: 5px;    
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 1px var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: .8rem;
}

.spotlights span, .spotlights a {
    padding: 2px;
    font-size: .8rem;
    color: var(--font-color);
}

#cards img, .spotlights img {
    width: 50px;
    height: 50px;
    margin: 1rem; 
}

#cards a {
    margin-top: 1rem;
    color: var(--font-color);
}

#cards a:hover, .spotlights a:hover {
    color: var(--accent1-color);
}

.spotlights a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    font: var(--paragraph-font);
    font-size: .8rem;
    transition: font-size 0.5s ease-out;
}

th, td {
    padding: .8rem;
    border: 1px solid var(--accent2-color);
}

th, tr:nth-child(even) {
    background-color: var(--accent2-color-light);
}

footer {
    gap: 2rem;
    padding: 1rem;
    border-top: 5px solid var(--accent1-color);
}

.authorInfo {
    min-width: 250px;
}

.contactInfo {
    min-width: 200px;
}

.socials {
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
}

footer div {
    display: grid;  
}

footer span {
    font-family: var(--paragraph-font);
    color: var(--font-color); 
}

.home {
    display: grid;       
}

.events {
    grid-row: 2/3;
}

.weather {
    grid-row: 3/4;
}

.forecast {
    grid-row: 4/5;
}


.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero span {
    font-family: var(--heading-font);
    font-weight: bold;
    position: absolute;
    font-size: 1rem;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--background-color);
    padding: 1.1rem;
    border-radius: 10px;    
    box-shadow: 0 0 10px 1px var(--accent2-color);
}

.hero span:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 1px var(--accent1-color);
}

.events, .weather, .forecast {
    display: grid;
    grid-template-rows: 60px;
    border: 2px solid var(--accent2-color);
    margin: 0px 10px 20px;
    font-family: var(--paragraph-font);    
}

.events h3, .weather h3, .forecast h3 {
    background-color: var(--accent2-color);
    margin: 0;
    text-align: left;
    font-family: var(--heading-font);
    padding: 20px;
    font-size: 1.3rem;
    color: var(--background-color);
}

.weather {
    grid-template-columns: 1fr 1fr;
}

.weather h3 {
    grid-column: 1/3;
}

.weather img {
    justify-self: center;
    align-self: center;
}

#current-temp {
    font-size: 2rem;
    grid-row: 2/3;
    grid-column: 2/3;
    font-weight: bold;
    justify-self: start;
    align-self: center;
}

.current-weather-desc {
    justify-self: center;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.current-weather-details {
    padding-bottom: .5rem;
}

.forecast span {
    padding: .5rem;
    align-self: center;
    font-size: 1.3rem;
}

.application-page {
    display: grid;
    grid-template-columns: 1fr;    
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
}

.application-page form {
    display: block;
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
}

form input[type=text], form input[type=email], form input[type=telephone], form select, form textarea {
    display: block;
    margin: .1rem 0 1.5rem 0rem;
    padding: .7rem;
    width: 90%;    
    color: var(--font-color);
    border-radius: 5px;
    border-color: var(--accent2-color);
}

form input:required {
    border-bottom-width: 5px;
    border-bottom-color: var(--accent1-color);
}

form input:required:focus {
    border-bottom-width: 5px;
    border-bottom-color: var(--accent2-color);
}

form input:required:valid {
    border-bottom-width: 5px;
    border-bottom-color: var(--accent2-color);
}

form select {
    width: 95%;
}

.application-page h2 {
    font-size: 1.6rem;
}

.personal {
    margin-bottom: 1rem;
}

.organization, .personal {
    border: 3px solid var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--primary-color);
}

form input[type=submit] {
    padding: .8rem;
    font-family: var(--paragraph-font);
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid var(--accent2-color);
    transition: background-color 0.3s ease-in;
}

form input[type=submit]:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 1px var(--primary-color);
    transition: background-color 0.3s ease-in;
}

#membership-level-info h3 {
    text-transform: capitalize;
    padding-bottom: 1rem;
}

#membership-level-info section {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent1-color-light);
    border: 2px solid var(--accent1-color);
    border-radius: 15px 30px;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    color: var(--font-color);
    font-family: var(--paragraph-font);
    opacity: 0;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    animation-duration: 2s;
}

@keyframes fadein {
    0% { 
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

#membership-level-info span {
    cursor: pointer;
    padding: .7rem;
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    background-color: var(--accent2-color-light);
    transition: background-color 0.3s ease-in;
}

#membership-level-info span:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px 1px var(--accent1-color);
    transition: background-color 0.3s ease-in;
}

dialog {
    max-width: 80%;
    min-width: 285px;
    font-family: var(--paragraph-font);
    border-radius: 10px;
    border: 3px solid var(--font-color)
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.6);    
}

dialog h4 {
    text-transform: capitalize;
    font-size: 2.2rem;
    margin: 1rem;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

dialog button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    padding: .6rem;
    background: none;
    border: none;    
    cursor: pointer;
    color: var(--font-color)     
}

dialog button:hover {
    color: var(--accent1-color);
}

dialog button:focus {
    border: 0px;
}

dialog p {
    font-size: 1.3rem;
}

.thank-you {
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    margin-left: 1rem;
}
