@media screen and (min-width: 40rem) {

    header {
        grid-template-columns: 100px auto;
        padding: 1rem;
        transition: padding 0.5s ease-out;
    }

    #menu {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, .3);
    }

    nav {
        grid-template-rows: 1fr;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
        font-size: .8rem;
        transition: font-size 0.5s ease-out;   
    }
    
    .contactInfo {
        min-width: 190px;
    }

    #cards {
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
        margin: 2rem 1rem;
    }

    #cards section {
        font-size: 1.2rem; 
    }

    .filters {
        position: absolute;
        top: -.6rem;
        right: 2rem;
        font-size: 3rem;
    }
}

@media screen and (min-width: 23rem) {

    header span {
        font-size: 1.2rem;
        transition: font-size 0.5s ease-out;        
    }
}

@media screen and (min-width: 43rem) {

    footer {
        font-size: 1rem;
        transition: font-size 0.5s ease-out;
    }

    .authorInfo {
        min-width: 270px;
    }
    
    .contactInfo {
        min-width: 215px;
    }
}